<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br"
>
  <head>
    <vtex:metaTags />
    <vtex:template id="0-rdy-web-metatags" />
    <vtex:template id="0-rdy-web-styles" />
  </head>

  <body>
    <section class="login-page">
      <div class="login-page__left">
        <template class="js--banner">
          <div class="desktop">
            <img src="https://rdlay.vtexassets.com/arquivos/logindesktop.jpg" />
          </div>
          <div class="mobile">
            <img src="https://rdlay.vtexassets.com/arquivos/loginmobile.jpg" />
          </div>
        </template>
      </div>
      <div class="login-page__right">
        <div class="top">
          <h2>Moda que transforma vida e negócios.</h2>
          <p>
            Acesse nossas coleções exclusivas e conquiste mais clientes a casa
            semana!
          </p>
        </div>
        <div class="bottom">
          <p>Quer comprar no varejo ?</p>
          <a href="https://rdlay.com.br/" target="_blank">clique aqui</a>
        </div>
      </div>
    </section>
    <main id="main">
      <vtex.cmc:userLogin />
    </main>
    <vtex:template id="0-rdy-web-scripts" />
  </body>
</html>
